#results{
    font-weight: bold;
    font-family: monospace;
}

#gameSheet {
    text-align: left;
    font-family: monospace;
}

ul{
    list-style-type: none;
}
pre{
    align-items: center;
    align-self: center;
}
p{
    align-self: center;
    text-align: center;
}
.cont {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h1 {
    align-self: center;
    color: blue;
}

button {
    align-self: center;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: monospace;
    padding: 40px;
    border-color: blue;
    border-radius: 10px;
    box-shadow: 5px 8px black;
}